@import "nib"
@import "bootstrap-combined.min.css"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

body
  font-family "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif !important
  user-select none

#app-wrapper
  z-index 10
  position absolute
  top 10px
  left 10px
  margin-right 10px
  width 100%

#header
  background-color rgba(255,255,255,0.8)
  font-size 20px
  font-weight bold
  padding 5px 10px
  max-width 70%
#asteroid-detail-close
  cursor pointer
  position absolute
  top 5px
  right 5px

#asteroid-detail-wrapper
  background-color rgba(255,255,255,0.7)
  position absolute
  top 90px
  right 100px
  padding 5px
  transform translateX(500px)
  transition background-color, transform 0.5s
  &.asteroid-detail-bounce
    animation bounce 1s ease
    animation-fill-mode both
  &.asteroid-detail-active
    transform translateX(0)
  &:hover
    background-color rgba(255,255,255,0.8)

@keyframes bounce
  0%, 20%, 50%, 80%, 100% {transform translateY(0)}
  40% {transform translateY(-30px)}
  60% {transform translateY(-15px)}

#asteroid-detail-title
  font-weight bold
  font-size 18px
  line-height 1.5

#asteroid-detail-header
  font-weight bold
  margin-top 15px
  border-bottom 1px solid #333

#leap-toggle
  position absolute
  z-index 100
  bottom 10px
  right 10px
  padding 2px 5px
  color black
  background-color rgba(255,255,255,0.6)
  cursor pointer
  &.leap-disabled
    background-color rgba(255,255,255,0.2)
    &:hover 
      background-color rgba(255,255,255,0.6)

.asteroid-detail-row
  margin-top

.asteroid-detail-col
  float left
  margin-right 15px
  b
    color: #888

.clear 
  clear: both
  height: 0
  line-height: 0
  font-size: 0
  padding: 0
  margin: 0
  display: block

#sidebar
  margin-top 40px
.close-button
  display none !important
#asteroid-list
  width 450px
  color #ccc
  transition background-color 0.4s
  &:hover 
    background-color rgba(0,0,0,0.5)
  thead 
    th
      vertical-align top
      &:hover
        background-color #f5f5f5
        color #333
        cursor pointer
  tbody 
    tr
      &:hover, &.asteroid-row-selected
        color #333
        cursor pointer
        background-color #f5f5f5
      &:nth-child(n+2) td
        border-color #333
  tr td, tr th
    text-align center
    .th-units
      color #aaa
      font-weight normal

#asteroid-list-wrapper
  margin-top 10px
  
